/* Add your styles here */
.firstinput{
    position: center;
    top:30px;
    left:15px;

}

.temp-bar{
    width: 100%;
    background-color: lightgray;
}

#bar{
    height:30px;
    width:10%;
    background-color:skyblue;
    text-align: center;
    line-height:30px;
    color:white; 
    
}